<!DOCTYPE html>
<html lang="en">
  <head>
    <title>README Template</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="page-background">
      <h1 align="center">Hi 👋, I'm free-bots</h1>
      <h3 align="center">A passionate Android and Full-Stack Developer</h3>
      <p align="center">
        ⚡ Fun fact <strong>Automation addicted... No API? No Problem!</strong>
      </p>
      <div align="center">
        <div
          class="card w-max-600"
          style="padding-top: 10px; padding-bottom: 10px"
        >
          <p align="center">
            <img src="../../github-metrics.svg" />
          </p>
        </div>
      </div>
      <div style="margin: 12px"></div>
      <div align="center">
        <div class="card w-max-600">
          <h3 class="w-max-498" align="left">Languages and Tools:</h3>
          <p align="center">
            <img
              src="https://skillicons.dev/icons?i=androidstudio,angular,bash,bootstrap,cs,css,docker,dotnet,electron,fastapi,firebase,git,github,go,gulp,hibernate,html,java,js,jest,kotlin,linux,nestjs,nodejs,php,postman,py,pytorch,react,reactivex,sass,spring,styledcomponents,tailwind,ts,vite&theme=dark&theme=dark&perline=9"
            />
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
