<!DOCTYPE html>
<html lang="en">

<head>
    <title>README Template</title>
    <link rel="stylesheet" href="styles.css" />
</head>

<body>
    <div class="page-background">
        <div align="center">
            <div style="display: flex; flex-direction: row; justify-content: center; gap: 15px; margin-bottom: 15px;"
                class="w-max-600">
                <div class="card w-max-600"
                    style="display: flex; padding-top: 10px; padding-bottom: 10px; width: 100%; justify-content: center; flex: 3;">
                    <div style="display: flex; flex-direction: column; align-self: center;">
                        <h1 align="center">Hi 👋, I'm free-bots</h1>
                    </div>
                </div>

                <div class="card w-max-600"
                    style="padding-top: 10px; padding-bottom: 10px; height: 150px; width: 150px; padding: 5px; flex: 1;">
                    <img src="https://avatars.githubusercontent.com/u/54210595"
                        style="object-fit: cover; height: 100%; width: 100%; border-radius: 20px;">
                </div>
            </div>

            <div style="display: flex; flex-direction: row; justify-content: center; gap: 15px; margin-bottom: 15px;"
                class="w-max-600">
                <div class="card w-max-600"
                    style="display: flex; padding-top: 10px; padding-bottom: 10px; justify-content: center; flex: 1;">
                    <div style="display: flex; flex-direction: column; align-self: center;">
                        <h3 align="center" style="font-weight: bold; font-size: large;">A passionate Android and Full-Stack Developer</h3>
                        <p align="center">
                            ⚡ Fun fact <strong>Automation addicted... No API? No Problem!</strong>
                        </p>
                    </div>
                </div>
            </div>

            <div style="display: flex; flex-direction: row; justify-content: center; gap: 15px; margin-bottom: 15px;"
                class="w-max-600">
                <div class="card w-max-600"
                    style="padding-top: 10px; padding-bottom: 10px; width: 150px; padding: 5px; flex: 1;">
                    {{{activity}}}
                </div>

                <div class="card w-max-600"
                    style="padding-top: 10px; padding-bottom: 10px; width: 150px; padding: 5px; flex: 1;">
                    {{{community}}}
                </div>
            </div>

            <div style="display: flex; flex-direction: row; justify-content: center; gap: 15px; margin-bottom: 15px;"
                class="w-max-600">
                <div class="card w-max-600" style="padding-top: 10px; padding-bottom: 10px; padding: 5px; flex: 1;">
                    {{{languages}}}
                </div>
            </div>

            <div style="display: flex; flex-direction: row; justify-content: center; gap: 15px; margin-bottom: 15px;"
                class="w-max-600">
                <div class="card w-max-600" style="padding-top: 10px; padding-bottom: 10px; padding: 5px; flex: 1;">
                    {{{achievements}}}
                </div>
            </div>
        </div>

        <div id="end" align="center">
            <div class="card w-max-600">
                <h3 class="w-max-498" align="left" style="font-weight: bold; font-size: large;">Languages and Tools</h3>
                <p align="center">
                    <img
                        src="https://skillicons.dev/icons?i=androidstudio,angular,bash,bootstrap,cs,css,docker,dotnet,electron,fastapi,firebase,git,github,go,gulp,hibernate,html,java,js,jest,kotlin,linux,nestjs,nodejs,php,postman,py,pytorch,react,reactivex,sass,spring,styledcomponents,tailwind,ts,vite&theme=dark&theme=dark&perline=9" />
                </p>
            </div>
        </div>
    </div>
</body>

</html>