body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    color: white;
    overflow: hidden;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.page-background {
    height: 100%;
    padding: 25px 15px;
    padding-bottom: 25px;
    background-image: url('./background-pattern.svg');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.card {
    backdrop-filter: blur(3px) saturate(200%);
    -webkit-backdrop-filter: blur(3px) saturate(200%);
    background-color: #6b548e66;
    border-radius: 20px;
    border: 1px solid #6b548e;
}

.w-max-600 {
    max-width: 600px;
}

.w-max-498 {
    max-width: 498px;
}

img {
    background: transparent;
    max-width: 498px;
}

h1, h2, h3 {
    color: white !important;
}

h3 {
    font-size: medium;
}

svg .field {
    color: white;
}

small > div {
    color: white;
}

section h2 {
    font-weight: bold !important; 
    font-size: large !important;
}